/* generic minimal CSS reset
   inspiration: https://www.digitalocean.com/community/tutorials/css-minimal-css-reset */

:root {
    box-sizing: border-box;
    line-height: 1.4;
    /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    --emphasis: #ffe68d;
    --indexback: lavender;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;

    clear:both;
}

body {
    margin-left:20px;
    max-width:650px;
}

p {
    line-height: 1.5em;
    
}

pre {
    border:1px solid black;
    padding:10px;
    background:var(--indexback);
}

code{
    font-size:14px;
    padding-left:6px;
    padding-right:6px;
    background:var(--indexback);

}
htitle{
    font-size:4em;
    font-weight:bold;
}


h1,h2,h3{
    font-weight:bold;
    max-width:400px; 
}

nav ul, idx ul{
    padding:inherit;
}
nav ul li{
    display: inline;
    padding:6px;
    list-type:none;
    white-space:pre;
}

nav ul li a{
    text-decoration:underline;

}

idx ul li{
    display: inline;
    border:1px solid gray;
    padding:4px;
    border-radius:10px;
    background:var(--indexback);
}

idx ul li a{
    text-decoration:none;
}

idx ul li a:hover{
    background:none;
}

idx ul li:hover{
    background:var(--emphasis);
}

img {
    max-width:100%;
    height:auto;
}

a {
    color:black;
}

a:hover {
    background:var(--emphasis);
}
